h1 {
    color: blue;
}

h2 {
    color: #690aa4;
    

}

section {
	color:rgb(25, 4, 88);
    background: rgb(10, 182, 10);
}



#szkolenie{
    background-color: rgb(248, 200, 225);}

p {
    color:orange !important;
}

a{
    color:blueviolet;
}

section a{
    background-color: darkgreen;
}

.my-article p{
    background-color: black;
color:azure;
}
