html{box-sizing: border-box;}
*, *:before ,*:after {box-sizing: inherit;}

h1 {
    color: rgb(7, 7, 238);
    font-size: 30px;
    text-align: center;
}

h2 {
    color:rgb(240, 129, 129) ;  

}



.section {
	
    background: rgb(115, 156, 115);
    padding: 16px;
  
}

.section__header{
    
    background: #8c5858;
background: linear-gradient(90deg, rgba(140, 88, 88, 1) 0%, rgba(47, 79, 58, 1) 42%, rgba(47, 79, 59, 1) 52%, rgba(25, 194, 93, 1) 64%, rgba(47, 77, 60, 1) 82%, rgba(237, 221, 83, 1) 100%);
   text-align: center;
}
.section__header--special{

    color: red;
    text-align: center;


}
#szkolenie{
    background-color: white;
  }

p {
    color: rgb(23, 15, 0) !important;
    font-size: 20px;
}

a{
    color:red;
font-size: 30px;
  text-align: center;
  
}

section a{
    background-color: white;
    
}

.my-article p{
    background-color: red;
color:azure;
}

footer{
    padding: 20px;
}
.navigation{
    background: blue;
padding: 10px;


}
.navigation__link {
color:rgb(185, 251, 71);
font-size: 15px;
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
} 





body {
background-image:   url(wtf.jpg);
background-repeat: repeat-x;
background-position-y: 120px;

}


.box{ 
  font-size: 25px;
  box-sizing: border-box;
  color: rgb(245, 65, 65);
  background: yellow;
  display: inline-block;
  width:200px;
  height: 100px;
  padding: 10px 20px;
  border: 10px solid blue;
  border-radius:50px;
  margin: 30px auto;
  overflow: hidden;
  text-align: center;
}
a{display: block;}
.box-2{
  box-sizing:border-box;
  color: rgb(243, 226, 197);
  background: brown;
  display: inline-block;
  width: 200px;
  height: 100px;
   overflow: hidden;
position:relative;
  padding: 10px 20px;
  border: 10px solid rgb(22, 189, 178);
  border-radius:50px;
  margin:30px auto;
  text-align: center;
}
a{display:block;}
.box-3 {
    box-sizing:border-box;
    color: white;
    background: black;
width:150px;
    border: 10px solid brown;
}

.absolute{
  position: absolute;
  top: 250px;
  left:50%;
  background: yellow;
  border-radius: 10px;
  z-index:10;
  font-size: 40px;
}
.absolute-2{
  position: absolute;
  top: 300px;
  left:50%;
  background: white;
  font-size: 40px;
  
  
}
.fixed{
  position: fixed;
  top: 60px;
  left:85%;
  background:rgb(255, 12, 56) ;
  border-radius: 10px;
  font-size: 20px;
}
.sticky{
  position: sticky;
  font-size: 20px;
  color: yellow;
  top: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.float{
    padding-top: 30px;
  float: top;
  width: 200px;
  height: 100px;
  background: rgb(71, 71, 244);
  color: white;

  border: 10px solid yellow;
  border-radius:50px;
  
}

table{
  width:100%;
  text-align: center;
}

table caption {
  margin-bottom: 2rem;
}