html{box-sizing: border-box;}
*, *:before ,*:after {box-sizing: inherit;}

h1 {
    color: blue;
}

h2 {
    color: #690aa4;
    

}

.section {
	
    background: rgb(115, 156, 115);
    padding: 16px;
}

.section__header{
    background: green;
}
.section__header--special{

    color: blue;
}
#szkolenie{
    background-color: rgb(248, 200, 225);}

p {
    color:orange !important;
}

a{
    color:blueviolet;
}

section a{
    background-color: darkgreen;
    
}

.my-article p{
    background-color: black;
color:azure;
}

footer{
    padding: 20px;
}
.navigation{
    background: blue;
    padding: 16px;
}
.navigation__link {
color: white;
} 

