html{box-sizing: border-box;}
*, *:before ,*:after {box-sizing: inherit;}

h1 {
    color: blue;
}

h2 {
    color: #690aa4;
    

}

.section {
	
    background: rgb(115, 156, 115);
    padding: 16px;
}

.section__header{
    background: green;
}
.section__header--special{

    color: blue;
}
#szkolenie{
    background-color: rgb(248, 200, 225);}

p {
    color:orange !important;
}

a{
    color:blueviolet;
}

section a{
    background-color: darkgreen;
    
}

.my-article p{
    background-color: black;
color:azure;
}

footer{
    padding: 20px;
}
.navigation{
    background: blue;
    padding: 16px;
}
.navigation__link {
color: white;
} 





body {
  background: whitesmoke;
}
.box{ 
  box-sizing:border-box;
  color: rgb(245, 65, 65);
  background: white;
  display: inline-block;
  width: 400px;
  height: 250px;
  padding: 10px 20px;
  border: 20px solid blue;
  border-radius:50px;
  margin:30px auto;

}
a{display: block;}
.box-2{
  box-sizing:border-box;
  color: rgb(243, 226, 197);
  background: rgb(238, 74, 74);
  display: inline-block;
  width: 350px;
  height: 350px;

  padding: 10px 20px;
  border: 40px solid rgb(22, 189, 178);
  border-radius:10px;
  margin:30px auto;
}
a{display:block;}
.box-3 {
    box-sizing:border-box;
    color: white;
    background: black;
    min-width: 500px;
    border: 15px solid brown;
}

.absolute{
  position: absolute;
  top: 10px;
  left:50%;
  background: yellow;
  border-radius: 10px;
  z-index:10;
  font-size: 40px;
}
.absolute-2{
  position: absolute;
  top: 50px;
  left:50%;
  background:rgb(1, 51, 1) ;
  font-size: 30px;
  
  
}
.fixed{
  position: fixed;
  top: 41px;
  left:40%;
  background:yellowgreen ;
  border-radius: 10px;
}
.sticky{
  position: sticky;
  color: green;
  top: 0;
  padding: 30;
}
.float{
  float: right;
  width: 200px;
  height: 200px;
  background: red;
  color: white;
}